{% extends 'base.html.twig' %}

{% block title %}Ajouter Lieu{% endblock %}

{% block body %}
    <div class="body div tab_test lieu_form">

        <h1 class="titre_sortie">Ajouter un lieu</h1>
        <br>
        <table class="lieu-table">
            <thead>
                <tr class="lieu_tr">
                    <td class="index_td_head3 lieu_td_head">Nom</td>
                    <td class="index_td_head4 lieu_td_head">Rue</td>
                    <td class="index_td_head5 lieu_td_head">Latitude</td>
                    <td class="index_td_head6 lieu_td_head">Longitude</td>
                    <td class="index_td_head7 lieu_td_head">Ville</td>
                    <td class="index_td_head8 lieu_td_head">Actions</td>
                </tr>
            </thead>

            <tbody>
            {% for lieu in lieux %}
                <tr class="lieu_tr">
                    <td class="gras lieu_td">{{ lieu.nom }}</td>
                    <td class="lieu_td">{{ lieu.rue }}</td>
                    <td class="lieu_td">{{ lieu.latitude }}</td>
                    <td class="lieu_td">{{ lieu.longitude }}</td>
                    <td class="lieu_td">{{ lieu.ville.nom }}</td>
                    <td class="lieu_td"><a class="lien_tab" href=""> Modifier</a> - <a class="lien_tab" href="#"> Supprimer</a>    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
                <tr class="lieu_tr">
                    {{ form_start(lieuForm) }}
                    <td class="lieu_td">{{ form_widget(lieuForm.nom) }}
                    <td class="lieu_td">{{ form_widget(lieuForm.rue) }}
                    <td class="lieu_td">{{ form_widget(lieuForm.latitude) }}
                    <td class="lieu_td">{{ form_widget(lieuForm.longitude) }}</td>
                    <td class="lieu_td">{{ form_widget(lieuForm.ville) }}</td>
                    <td class="lieu_td">{{ form_widget(lieuForm.valider) }}</td>
                    {{ form_end(lieuForm) }}
                </tr>
            </tfoot>

        </table>

    </div>
    <div class="profil_div">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
