{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <div class="body orga_infos">
    <div class="profil_div">
        <h1 class="titre_sortie">Profil</h1>
    </div>
        <br>
    <div class="profil_div div">
        <p class="gras">Pseudo : </p>&nbsp;
        <p>{{ profil.pseudo }}</p>
    </div>
    <div class="profil_div">
        <p class="gras">Nom : </p>&nbsp;
        <p>Nom : {{ profil.nom }}</p>
    </div>
    <div class="profil_div">
        <p class="gras">Prénom : </p>&nbsp;
        <p>{{ profil.prenom }}</p>
    </div>
    <div class="profil_div">
        <p class="gras">Telephone : </p>&nbsp;
        <p>{{ profil.telephone }}</p>
    </div>
    <div class="profil_div">
        <p class="gras">Campus : </p>&nbsp;
        <p>{{ profil.campus.nom }}</p>
    </div>
    <div class="profil_div">
        <p class="gras">Mail : </p>&nbsp;
        <p>{{ profil.mail }}</p>
    </div>
        <div>
            <a class="btn btn-secondary bouton_creer" href="{{ path('app_accueil') }}">Retour</a>
        </div>
    </div>


{% endblock %}