{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<div class="profil_div">
    <h1>Mon Profil</h1>
</div>

<div class="profil_body">

    <div style="margin-right: 50px;">
        <img class="img_avatar" src="{{ asset('uploads/avatars/'~participant.avatar.avatar) }}" alt="avatar">
    </div>

    <div class="profil_div">
        {{ form_start(formProfil) }}
        {{ form_row(formProfil.pseudo) }}
        {{ form_row(formProfil.prenom) }}
        {{ form_row(formProfil.nom) }}
        {{ form_row(formProfil.telephone) }}
        {{ form_row(formProfil.mail) }}
        {{ form_row(formProfil.password) }}
        {{ form_row(formProfil.campus) }}
        {{ form_row(formProfil.avatar) }}
        {{ form_row(formProfil._token) }}
        <button class="profil_btn">{{ button_label|default('Save') }}</button>
        {{ form_end(formProfil) }}
    </div>

</div>

{% endblock %}
