{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="body modif_profil">

<div class="profil_div">
    <h1 class="titre_sortie">Mon Profil</h1>
</div>
    <div class="profil_image">
        {% if (participant.avatar == null) %}
        <img class="img_avatar" src="{{ asset('img/unicorn.png') }}" alt="avatar">
        {% else %}
        <img class="img_avatar" src="{{ asset('uploads/avatars/'~participant.avatar.avatar) }}" alt="avatar">
        {% endif %}
    </div>
<br>
    <div class="profil_div">
        {{ form_start(formProfil) }}
        <div class="div input-group input-group-sm mb-3">
            <div class="input-group-text">
                {{ form_label(formProfil.pseudo) }}
            </div>
            <div>
                {{ form_widget(formProfil.pseudo) }}
                {{ form_errors(formProfil.pseudo) }}
            </div>
        </div>
        <div class="div input-group input-group-sm mb-3">
            <div class="input-group-text">
                {{ form_label(formProfil.prenom) }}
            </div>
            <div>
                {{ form_widget(formProfil.prenom) }}
                {{ form_errors(formProfil.prenom) }}
            </div>
        </div>
        <div class="div input-group input-group-sm mb-3">
            <div class="input-group-text">
                {{ form_label(formProfil.nom) }}
            </div>
            <div>
                {{ form_widget(formProfil.nom) }}
                {{ form_errors(formProfil.nom) }}
            </div>
        </div>
        <div class="div input-group input-group-sm mb-3">
            <div class="input-group-text">
                {{ form_label(formProfil.telephone) }}
            </div>
            <div>
                {{ form_widget(formProfil.telephone) }}
                {{ form_errors(formProfil.telephone) }}
            </div>
        </div>
        <div class="div input-group input-group-sm mb-3">
            <div class="input-group-text">
                {{ form_label(formProfil.mail) }}
            </div>
            <div>
                {{ form_widget(formProfil.mail) }}
                {{ form_errors(formProfil.mail) }}
            </div>
        </div>
        <div class="div input-group input-group-sm mb-3">
            <div class="input-group-text">
                &nbsp;{{ form_label(formProfil.password) }}
            </div>
            <div>
            {{ form_widget(formProfil.password) }}
            {{ form_errors(formProfil.password) }}
            </div>
        </div>
        <div class="div input-group input-group-sm mb-3">
            <div class="input-group-text">
                {{ form_label(formProfil.campus) }}
            </div>
            <div>
                {{ form_widget(formProfil.campus) }}
                {{ form_errors(formProfil.campus) }}
            </div>
        </div>
        <div class="div input-group input-group-sm mb-3">
            <div class="input-group-text">
                &nbsp;&nbsp;&nbsp;{{ form_label(formProfil.avatar) }}
            </div>
            <div>
                {{ form_widget(formProfil.avatar) }}
                {{ form_errors(formProfil.avatar) }}
            </div>
        </div>
        {{ form_row(formProfil._token) }}
        <br>
        <button class="profil_btn btn btn-secondary bouton_enregistrer_profil">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(formProfil) }}
    </div>

</div>

{% endblock %}
