{% extends 'base.html.twig' %}

{%  block body %}


    <p>Date du jour : {{ "now"|date("m/d/Y") }}</p>
    <p>Participant : {{ user.prenom }}</p>

    {{ form_start(formProfil) }}
    {{ form_end(formProfil) }}

    <table>
        <thead>
        <tr>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Clôture</td>
            <td>inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>

        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date }}</td>
                <td>{{ sortie.dateHeureDebut | date}}</td>
                <td>{{ sortie.participant | length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.organisateur }}</td>
                <td></td>
            </tr>
        {% endfor %}

        </tbody>

    </table>


{% endblock %}