{% extends 'base.html.twig' %}

{%  block body %}
    <div class="body">
    {% set now = date('now') %}

    <p>Date du jour : {{ "now"|date("m/d/Y") }}</p>
    <p>Participant : {{ user.prenom }}</p>

        {{ form_start(formProfil,{ 'attr': {'class': 'form_accueil'} }) }}
<div class="parent">
        <div class="div1">{{ form_row(formProfil.campus) }} </div>
        <div class="div2">{{ form_row(formProfil.nom) }} </div>
        <div class="div3">{{ form_row(formProfil.dateHeureDebut) }}
                        {{ form_row(formProfil.dateHeureFin) }} </div>
        <div class="div4">
            {{ form_row(formProfil.organisateur) }}
            {{ form_row(formProfil.participant) }}
            {{ form_row(formProfil.inscrit) }}
            {{ form_row(formProfil.dateLimiteInscription)  }}
            </div>
    {{ form_end(formProfil) }}
</div>

    <table class="index_table">
        <thead>
        <tr class="index_tr">
            <td class="index_td_head index_td_head1">Nom de la sortie</td>
            <td class="index_td_head index_td_head2">Date de la sortie</td>
            <td class="index_td_head index_td_head3">Clôture</td>
            <td class="index_td_head index_td_head4">Inscrits/Places</td>
            <td class="index_td_head index_td_head5">Etat</td>
            <td class="index_td_head index_td_head6">Inscrit</td>
            <td class="index_td_head index_td_head7">Organisateur</td>
            <td class="index_td_head index_td_head8">Actions</td>
        </tr>
        </thead>

        <tbody>
        {% for sortie in sorties %}
            <tr class="index_tr">
                <td class="index_td">{{ sortie.nom }}</td>
                <td class="index_td">{{ sortie.dateHeureDebut | date("d/m/Y H:m") }}</td>
                <td class="index_td">{{ sortie.dateLimiteInscription | date("d/m/Y") }}</td>
                <td class="index_td">{{ sortie.participant | length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td class="index_td">{{ sortie.etat.libelle }}</td>
                <td class="index_td"></td>
                <td class="index_td"><a href="{{ path('profil_affichage', {'id' : sortie.organisateur.id }) }}">{{ sortie.organisateur }}</a></td>
                <td class="index_td">
                    <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}">Afficher</a>

                        {% if  user in sortie.participant %}
                            {% if sortie.etat.libelle == 'Ouverte' or  sortie.etat.libelle == 'Clôturée'%}
                                 - <a href="{{ path('sortie_inscription', {'id' : sortie.id })  }}">Se désister</a>
                            {% endif %}
                        {% else %}

                            {% if sortie.dateLimiteInscription > now  %}
                                {% if sortie.etat.libelle == 'Ouverte' %}
                                     - <a href="{{ path('sortie_inscription', {'id' : sortie.id })  }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <div>
        <a class="index_creer_sortie" href="{{ path('sortie_creer') }}">Créer une sortie</a>
    </div>
    </div>
{% endblock %}