{% extends 'base.html.twig' %}

{%  block body %}


    <p>Date du jour : {{ "now"|date("m/d/Y") }}</p>
    <p>Participant : {{ user.prenom }}</p>

        {{ form_start(formProfil,{ 'attr': {'class': 'form_accueil'} }) }}
<div class="parent">
        <div class="div1">{{ form_row(formProfil.campus) }} </div>
        <div class="div2">{{ form_row(formProfil.nom) }} </div>
        <div class="div3">{{ form_row(formProfil.dateHeureDebut) }}
                        {{ form_row(formProfil.dateHeureFin) }} </div>
        <div class="div4">
            {{ form_row(formProfil.organisateur) }}
            {{ form_row(formProfil.participant) }}
            {{ form_row(formProfil.inscrit) }}
            {{ form_row(formProfil.dateLimiteInscription)  }}
            </div>
    {{ form_end(formProfil) }}
</div>



    <table class="campus_table">
        <thead>
        <tr class="campus_tr">
            <td class="campus_td_head">Nom de la sortie</td>
            <td class="campus_td_head">Date de la sortie</td>
            <td class="campus_td_head">Clôture</td>
            <td class="campus_td_head">Inscrits/Places</td>
            <td class="campus_td_head">Etat</td>
            <td class="campus_td_head">Inscrit</td>
            <td class="campus_td_head">Organisateur</td>
            <td class="campus_td_head">Actions</td>
        </tr>
        </thead>
        <tbody>

        {% for sortie in sorties %}
            <tr class="campus_tr">
                <td class="campus_td">{{ sortie.nom }}</td>
                <td class="campus_td">{{ sortie.dateHeureDebut | date("d/m/Y H:m") }}</td>
                <td class="campus_td">{{ sortie.dateLimiteInscription | date("d/m/Y") }}</td>
                <td class="campus_td">{{ sortie.participant | length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td class="campus_td">{{ sortie.etat }}</td>
                <td class="campus_td"></td>
                <td class="campus_td">{{ sortie.organisateur }}</td>
                <td class="campus_td"><a href="#">Action</a></td>
            </tr>
        {% endfor %}

        </tbody>

    </table>
    <div>
        <a href="{{ path('sortie_creer') }}">Créer une sortie</a>
    </div>

{% endblock %}